<main class="w-screen h-screen items-center bg-dark-blue flex flex-col">
  <div class="bg-custom-blue flex-1 w-full flex justify-center items-center shadow-xl">
    <h1 class="text-3xl text-primary">Tepon Workshop Työkalu</h1>
  </div>

  <div class="flex flex-col flex-4 bg-dark-blue">
    @if (stage === 1) {
    <first-stage [selectedConfig]="selectedConfig" (setSelected)="setSelected($event)" (nextStage)="nextStage()"
      [configs]="allConfigs" />
    }
    @else if (stage === 2 && selectedConfig != undefined) {
    <second-stage [selectedConfig]="allConfigs[selectedConfig]" /> }

  </div>


</main>